*{
  box-sizing: border-box;
  --color1: #faf3f3;
  --color2: #e1e5ea;
  --color3: #a7bbc7;
  --color35: #82a4b9;
  --color4: #da7f8f;
  --colordark: #797676;
  --colordarker: #464444;

}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
